* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --primary-color: red;
  --secondary-color: #e3d3e0;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

.home {
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  background: var(--primary-color);
  position: relative;
}

.background-image {
  background-image: url("/skincareq.github.io/asset/1.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  /* height: 50px;
  width: 84%;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

#skin {
  color: var(--primary-color);
}
#care {
  color: var(--secondary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar-logo {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-color);
  cursor: pointer;
  margin-right: 0;
}
#ul{
 margin-bottom: 0;
 margin-top: 0;
}
.navbar .navbar-nav a {
  color: red;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: pink;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary-color);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  color: pink;
  transform: scaleX(1);
}
.navbar .navbar-extra a{
  color: var(--secondary-color);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--secondary-color);
}

#hamburger-menu {
display: none;
}
/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }
  
  .navbar .navbar-extra a {
    color: var(--primary-color);
    margin: 0 0.5rem;
  }
  
  .navbar .navbar-extra a:hover {
    color: var(--primary-color);
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #e3d3e0;
    width: 30rem;
    height: 100vh;
  }
  
  .navbar .navbar-nav.active {
    right: 0;
  }
}

/* HP */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* .navbar .navbar-extra a:hover {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary-color);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .extra-nav a:hover::after {
  color: pink;
  transform: scaleX(1);
} */

nav button:hover {
  color: white;
}

nav button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  color: var(--secondary-color);
  cursor: pointer;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.carousel {
  height: 100vh;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.carousel-inner {
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.card {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: cover;
}
.tinggi {
  height: 2%;
}


/* CSS Mba SOFIA */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#description {
  display: flex;
  margin: 30px;
  width: 80%;
  height: 80vh;
  background-color: grey;
  /*padding: 40px;
  */
  border-radius: 10px;
  box-shadow: 20px 20px 40px rgb(206, 203, 203);
  justify-content: space-between;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* main img */
#description .desc-img {
  width: 28%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* small imgs */
.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-group .small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#description .desc-details {
  width: 60%;
  margin: 10px 30px 10px;
  padding: 20px;
}

#description .desc-details h2 {
  font-size: 25px;
  margin-bottom: 40px;
}

#description .desc-details h3 {
  padding: 15px 0 20px 0;
  font-size: 35px;
}

#description .desc-details h4 {
  margin-top: 50px;
  padding-bottom: 0px;
}

#description .desc-details input {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#description .desc-details input:focus {
  outline: none;
}

#description .desc-details button {
  margin-left: 10px;
  padding: 13px 40px;
  border-radius: 5px;
  background-color: #b5c3b8;
  transition: 0.4s ease;
  color: white;
  border: none;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#description .desc-details button:hover {
  background-color: #c4adc0;
}

#description .desc-details p {
  margin-top: 20px;
  text-align: justify;
  line-height: 15px;
  font-size: 14px;
}

#description #close {
  font-size: 30px;
  position: relative;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

/* keranjang belanja */

#keranjang {
  padding: 40px;
}

#keranjang table {
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
  border-collapse: collapse;
}

#keranjang table img {
  width: 70px;
}

#keranjang table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#keranjang table td:nth-child(2),
#keranjang table td:nth-child(4),
#keranjang table td:nth-child(5),
#keranjang table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#keranjang table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#keranjang table thead {
  border: 1px solid silver;
  border-left: none;
  border-right: none;
}

#keranjang table thead th {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#keranjang table tbody tr td {
  padding-top: 20px;
  font-size: 13px;
  text-align: center;
}

.remove {
  cursor: pointer;
}

.remove:hover {
  cursor: pointer;
}

/* total belanja/checkout */

#total-belanja {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 100px 60px;
}

#total-belanja .total {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#total-belanja .total table {
  table-layout: fixed;
  white-space: nowrap;
  border-collapse: collapse;
}

#total-belanja .total table tr {
  font-size: 13px;
  padding: 30px 0;
}

#total-belanja .total table tr td {
  padding: 10px 30px;
  width: 150px;
  text-align: left;
  font-size: 15px;
}

.total table tr:nth-child(3) {
  font-weight: 700;
  border: 2px solid silver;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#checkout {
  align-self: flex-end;
  width: 40%;
  margin: 40px 10px;
  padding: 13px 20px;
  border-radius: 5px;
  background-color: #b5c3b8;
  color: white;
  border: none;
  transition: 0.4s ease;
  cursor: pointer;
}

#checkout:hover {
  background-color: #c4adc0;
}

/* CSS Mba Sofia END */
